<head>
    <link rel="stylesheet" href="/css/book.css" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <h1 id="recipeBookHomeTitle">My Recipes Home</h1><br />

    <table id="recipeBookTable">
        <tr>
            <th style="width:50%">
                Recipe
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(0)">&#9660</span>
            </th>
            
            <th style="width:35%">
                Ethical Rating
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(1)">&#9660</span>
                <span class="tooltipethical" style="float:right">
                    
                        &#9432
                        <span class="tooltiptext">
                            Ethical Rating is calculated by determining which ingredients have potential for improvement. A 10.0 is a perfect score! 
                            A 5.0 suggests that half of your ingredients are ethical by our standards, but half could be improved.
                        </span>
                    
                </span>
            </th>
            
            <th style="width:30%">
                Public
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(2)">&#9660</span>
            </th>
        </tr>
        {{#each recipes}}
    <tr>
        <td class="first" id="recipeClick" onclick="location.href='/userRecipe/{{this.id}}'">
            {{this.name}}
        </td>
        
        <td> {{this.ethicalScore}}</td>
        
        <td class="isPublic" id="isPublic">{{this.isPublic}}</td>
        <td>
            <input type="submit" class="UpdateIsPublic" style="float:right" onclick="location.href='/book/{{this.id}}/{{this.isPublic}}'">
        </td>
    </tr>
        {{/each}}
    </table>
    <br />
    
    <!-- will link to page where user can create new recipe -->
    <button onclick="window.location.href='/build'" class="createNewRecipe">
        Create New Recipe
    </button>
</div>

<script src="/js/book.js"></script>