<head>
    <link rel="stylesheet" href="/css/book.css?v=1605382769" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <h1 id="recipeBookHomeTitle">{{ingredients.recipe.name}}</h1><br />

    <p>
        <span>
            <button onclick="window.location.href='/book'" style="height:4em;width:16em;font-size:medium">
                My Recipes Home
            </button>
        </span>

    </p>

    {{#if undo}}
        <div class="undo-message">
            {{{undo.msg}}}
        </div>
    {{/if}}

    <table id="userRecipeTable">

        <tr>
            <th>Ingredient</th>
            <th>Details</th>
            <th id="ethicalInfo">Ethical Info</th>
        </tr>
        
        {{#each ingredients.ingredients}}
        <tr>
            <td class="ingredient">{{this.ingredient.name}}</td>
            <td>{{this.ingredient.description}}</td>
            <td>
                {{#if this.replacements}}
                    <span class="tooltipleft" style="float:right">
                        <a href="/ingredientEthics/{{this.ingredient.id}}?recipeID={{../ingredients.recipe.id}}">&#9432
                        <span class="tooltiptext">
                            How can I ethically improve this ingredient?
                        </span>
                        </a>
                    </span>
                {{else}}
                <span>This ingredient is ethically OK. </span>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table> <br />

</div>


<div style="margin-left: 10%; margin-right: 10%;">

    <!-- Buttons for Create, Edit, and Delete recipe -->
    <p>
        <button onclick="window.location.href='/build'" class="createNewRecipe">
            Create New Recipe
        </button>
        
    </p>

</div>


<script src="/js/book.js?v=1605382131"></script>
